<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css//style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> 
    
    <title>{% block title %} {% endblock %}</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script type="text/javascript"></script>
    {% block scripts %} {% endblock %}</script>
    <style>{% block styles %} {% endblock %}</style>
  </head>
  <body>
    <table style="text-decoration: darkgray;">
      <tr>
          <td style="padding-left:600px;"">
            CSE 6331 : Cloud Computing -  Quiz 3 , Data Visulization using D3js  
          </td>
      </tr>
      <tr>
          <td style="padding-left:650px;"">
            Ankita Ramjibhai Patel - 1001790796
          </td>
      </tr>
      </table>

    <div class="tab">
      <a class="tablinks" href="{{ url_for('index')}}" style="text-align: center; padding-left: 50px;padding-right: 50px;">Home</a>
      <a class="tablinks" href="{{ url_for('q1')}}" style="text-align: center; padding-left: 50px;padding-right: 50px;">Q - 1</a>
      <a class="tablinks" href="{{ url_for('q2')}}" style="text-align: center; padding-left: 50px;padding-right: 50px;">Q - 2</a>
      <a class="tablinks" href="{{ url_for('q3')}}" style="text-align: center; padding-left: 50px;padding-right: 50px;">Q - 3</a>
      <!-- <a class="tablinks" href="{{ url_for('q4')}}" style="text-align: center; padding-left: 50px;padding-right: 50px;">Q - 4</a>
      <a class="tablinks" href="{{ url_for('q5')}}" style="text-align: center; padding-left: 50px;padding-right: 50px;">Q - 5</a> -->
    </div>

    <div class="container">
        {% block content %} {% endblock %}
    </div>

  </body>
</html>