<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css//style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css//people.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css//newsCards.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> 
    
    <title>{% block title %} {% endblock %}</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script type="text/javascript"></script>
    {% block scripts %} {% endblock %}</script>
    
  </head>
  <body>
    <table style="text-decoration: darkgray;">
      <tr>
          <td style="padding-left:600px;"">
             
          </td>
      </tr>
     
      </table>

    <div class="tab">
      <a class="tablinks" href="{{ url_for('index')}}" style="text-align: center; padding-left: 50px;padding-right: 50px;">Home</a>
      <a class="tablinks" href="{{ url_for('news')}}" style="text-align: center; padding-left: 50px;padding-right: 50px;">News</a>
      <a class="tablinks" href="{{ url_for('people')}}" style="text-align: center; padding-left: 50px;padding-right: 50px;">People</a>
      <a class="tablinks" href="{{ url_for('alumni')}}" style="text-align: center; padding-left: 50px;padding-right: 50px;">Alumni</a>
      <a class="tablinks" href="{{ url_for('publications')}}" style="text-align: center; padding-left: 50px;padding-right: 50px;">Publications</a>
      <a class="tablinks" href="{{ url_for('projects')}}" style="text-align: center; padding-left: 50px;padding-right: 50px;">Projects</a>
      <a class="tablinks" href="{{ url_for('contact')}}" style="text-align: center; padding-left: 50px;padding-right: 50px;">Meet US!</a>    
    </div>

    

    <div class="container">
      <table>
        <tr>
            <td>
                <h1>
                    SOFTWARE ENGINEERING RESEARCH GROUP
                </h1>
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    supervised by Dr. Jeff Lei
                </h3>
            </td>
        </tr>
        </table>
        {% block content %} {% endblock %}
    </div>

  </body>
</html>