{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block content %}

<div class="container">

    

    <!-- Slideshow container -->
    <div>
        <img class="mySlides" src="{{url_for('static', filename='images/Home_Slider/Group1.jpg')}}" align="middle"
            style="align-self: center; width: 100%;" />

        <img class="mySlides" src="{{url_for('static', filename='images/Home_Slider/Group2.jpg')}}" align="middle"
            style="align-self: center; width: 100%;" />

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 5000); // Change image every 5 seconds
        }
    </script>


    <div>
        <br /><br /><br />
        <p style="text-align: justify;font-size: large;width: 100%;">
            The Software Engineering Research Group supervised by Dr. Jeff Lei is part of Software Engineering Research
            Center (SERC) in the
            Department of Computer Science and Engineering (CSE) at the University of Texas at Arlington (UTA). Our
            group conducts cutting-edge
            research in various areas of software engineering, including software design, specification, analysis,
            verification, and testing.
        </p>
        <br /><br /><br />
    </div>

    <!-- News Cards -->
    <table>
        <tr>
            <td>
                <h2>
                    NEWS |
                </h2>
            </td>
            <td style="vertical-align:bottom;">
                <h3>
                    <a href="{{ url_for('news')}}">more</a>
                </h3>
            </td>
        </tr>
    </table>


    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-blue">
                <div class="inner">
                    <h3 style="text-align: left;">{{news[1][0]}}</h3>
                    <p style="text-align: justify;"> {{news[1][1]}} </p>
                </div>
                <div class="icon">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                </div>

            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-green">
                <div class="inner">
                    <h3 style="text-align: left;">{{news[2][0]}}</h3>
                    <p style="text-align: justify;"> {{news[2][1]}} </p>
                </div>
                <div class="icon">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-orange">
                <div class="inner">
                    <h3 style="text-align: left;">{{news[3][0]}}</h3>
                    <p style="text-align: justify;"> {{news[3][1]}} </p>
                </div>
                <div class="icon">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-red">
                <div class="inner">
                    <h3 style="text-align: left;">{{news[4][0]}}</h3>
                    <p style="text-align: justify;"> {{news[4][1]}} </p>
                </div>
                <div class="icon">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </div>

            </div>
        </div>

    </div>

</div>

{% endblock %}