{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block content %}

    


<div class="container">
    
    <!-- Group image and text  -->
    <table>
        <tr>
            <td>
                <img src="{{url_for('static', filename='images/Group_Home.jpg')}}" align="middle" style="align-self: center; width: 80%;"/>
            </td>
        </tr>
        <tr>
            <td>
                <br/>
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                <p style="text-align: justify;font-size: medium;width: 80%;">
                   {{news[0][2]}}
                </p>
            </td>
        </tr>
    </table>
{% endblock %}