{% extends 'base.html' %}

{% block title %} People {% endblock %}

{% block content %}

<div class="container">
    <div class="row bootstrap snippets bootdeys">
        <div class="col-md-9 col-sm-7">
            <h2>Members</h2>
        </div>
        <div class="col-md-3 col-sm-5">
            <form method="get" role="form" class="search-form-full">
                <div class="form-group">
                    <input type="text" class="form-control" name="s" id="search-input" placeholder="Search...">
                    <i class="entypo-search"></i>
                </div>
            </form>
        </div>
    </div>

     <!-- Dr. Lei's Profile  -->
    <div class="member-entry">
        <p>
            <font face="Arial Black" size="4" color="blue">Jeff Lei</font>
            <font face="Arial Black" size="4" color="black"> | 
                <a href="https://mentis.uta.edu/explore/profile/yu-lei"> Homepage</a></font>
            <font face="Arial Black" size="4" color="black"> | <a href="#"> Resume</a></font>
        </p>

        
        <img src="{{url_for('static', filename='images/DrLei.jpg')}}" class="img-rounded member-img">
        
        <div class="member-details">
           
            <div class="row info-list">
                <p style="text-align: justify;">
                Dr. Jeff Lei is a Professor in Department of Computer Science and Engineering at the University of
                    Texas, Arlington where he teaches SOFTWARE TESTING & MAINTENANCE. His research
                    relates to Software Engineering, Software Security, and Testing AI-Based Systems.
                </p>
            </div>
        </div>
    </div>

    <br/><hr/>

    <!-- Ph.D Students -->
    <div class="row bootstrap snippets bootdeys">
        <div class="col-md-9 col-sm-7">
            <h3>Ph.D Students </h3>
        </div>
    </div>

    {% for student in phdList %}
    <div class="member-entry">
       
            <img src="{{url_for('static', filename='images/PhdStudents/'+student[0])}}" class="img-rounded member-img">
       
        <div class="member-details">
            <table>
                <tr>
                    <td>
                        <h4> {{student[1]}} </h4>

                    </td>
                    <td>
                        {% if student[2]|length %}
                        &emsp;|&emsp;<a href="{{student[2]}}">Homepage</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if student[3]|length %}
                        &emsp;|&emsp;<a href="{{student[3]}}">Resume</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <div class="row info-list">
                <div class="col-sm-12">
                    <p style="text-align: justify;">
                    {{student[4]}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <br/><hr/>

    <!-- Masters Students  -->
    {% if mastersList|length %}

        <div class="row bootstrap snippets bootdeys">
            <div class="col-md-9 col-sm-7">
                <h3>Masters Students </h3>
            </div>
        </div>

        {% for student in mastersList %}
        <div class="member-entry">
            <img src="{{url_for('static', filename='images/MastersStudents/'+student[0])}}" class="img-rounded member-img">

            <div class="member-details">
                <table>
                    <tr>
                        <td>
                            <h4> {{student[1]}} </h4>

                        </td>
                        <td>
                            {% if student[2]|length %}
                            &emsp;|&emsp;<a href="{{student[2]}}">Homepage</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if student[3]|length %}
                            &emsp;|&emsp;<a href="{{student[3]}}">Resume</a>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <div class="row info-list">
                    <div class="col-sm-12">

                        {{student[4]}}

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    <br/><hr/>

    <!-- Undergraduate Students -->

    {% if ugList|length %}

        <div class="row bootstrap snippets bootdeys">
            <div class="col-md-9 col-sm-7">
                <h3>Undergraduate Students </h3>
            </div>
        </div>

        {% for student in ugList %}
        <div class="member-entry">
            <img src="{{url_for('static', filename='images/UGStudents/'+student[0])}}" class="img-rounded member-img">
            <div class="member-details">
                <table>
                    <tr>
                        <td>
                            <h4> {{student[1]}} </h4>

                        </td>
                        <td>
                            {% if student[2]|length %}
                            &emsp;|&emsp;<a href="{{student[2]}}">Homepage</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if student[3]|length %}
                            &emsp;|&emsp;<a href="{{student[3]}}">Resume</a>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <div class="row info-list">
                    <div class="col-sm-12">

                        {{student[4]}}

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}

</div>

{% endblock %}