{% extends 'base.html' %}

{% block title %} People {% endblock %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row bootstrap snippets bootdeys">
        <div class="col-md-9 col-sm-7">
            <h2>Members</h2>
        </div>
        <div class="col-md-3 col-sm-5">
            <form method="get" role="form" class="search-form-full">
                <div class="form-group">
                    <input type="text" class="form-control" name="s" id="search-input" placeholder="Search...">
                    <i class="entypo-search"></i>
                </div>
            </form>
        </div>
    </div>

    <div class="column" id="peoplecontent">
        <div class="member-entry">
            <p>
                <font face="Arial Black" size="4" color="blue">Jeff Lei</font>
                <font face="Arial Black" size="4" color="black"> | <a
                        href="https://mentis.uta.edu/explore/profile/yu-lei"> Homepage</a></font>
                <font face="Arial Black" size="4" color="black"> | <a href="#"> Resume</a></font>
            </p>

            <a href="#" class="member-img">
                <img src="{{url_for('static', filename='images/DrLei.jpg')}}" class="img-rounded">
            </a>
            <div class="member-details">
                <div class="row info-list">

                    Dr. Jeff Lei is a Professor in Department of Computer Science and Engineering at the University of
                    Texas, Arlington where he teaches SOFTWARE TESTING & MAINTENANCE. His research
                    relates to Software Engineering, Software Security, and Testing AI-Based Systems.

                </div>
            </div>
        </div>
    </div>

    <br/><hr/>
    <div class="row bootstrap snippets bootdeys">
        <div class="col-md-9 col-sm-7">
            <h3>Ph.D Students </h3>
        </div>
    </div>

    {% for student in phdList %}
    <div class="member-entry">
        <a href="#" class="member-img">
            <img src="{{url_for('static', filename='images/PhdStudents/'+student[0])}}" class="img-rounded">
        </a>
        <div class="member-details">
            <table>
                <tr>
                    <td>
                        <h4> {{student[1]}} </h4>

                    </td>
                    <td>
                        {% if student[2]|length %}
                        &emsp;|&emsp;<a href="{{student[2]}}">Homepage</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if student[3]|length %}
                        &emsp;|&emsp;<a href="{{student[3]}}">Resume</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <div class="row info-list">
                <div class="col-sm-12">

                    {{student[4]}}

                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <br/><hr/>

    {% if mastersList|length %}

        <div class="row bootstrap snippets bootdeys">
            <div class="col-md-9 col-sm-7">
                <h3>Masters Students </h3>
            </div>
        </div>

        {% for student in mastersList %}
        <div class="member-entry">
            <a href="#" class="member-img">
                <img src="{{url_for('static', filename='images/PhdStudents/'+student[0])}}" class="img-rounded">
            </a>
            <div class="member-details">
                <table>
                    <tr>
                        <td>
                            <h4> {{student[1]}} </h4>

                        </td>
                        <td>
                            {% if student[2]|length %}
                            &emsp;|&emsp;<a href="{{student[2]}}">Homepage</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if student[3]|length %}
                            &emsp;|&emsp;<a href="{{student[3]}}">Resume</a>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <div class="row info-list">
                    <div class="col-sm-12">

                        {{student[4]}}

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    <br/><hr/>

    {% if undergradList|length %}

        <div class="row bootstrap snippets bootdeys">
            <div class="col-md-9 col-sm-7">
                <h3>Undergraduate Students </h3>
            </div>
        </div>

        {% for student in undergradList %}
        <div class="member-entry">
            <a href="#" class="member-img">
                <img src="{{url_for('static', filename='images/PhdStudents/'+student[0])}}" class="img-rounded">
            </a>
            <div class="member-details">
                <table>
                    <tr>
                        <td>
                            <h4> {{student[1]}} </h4>

                        </td>
                        <td>
                            {% if student[2]|length %}
                            &emsp;|&emsp;<a href="{{student[2]}}">Homepage</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if student[3]|length %}
                            &emsp;|&emsp;<a href="{{student[3]}}">Resume</a>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <div class="row info-list">
                    <div class="col-sm-12">

                        {{student[4]}}

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}

</div>

{% endblock %}